#nav,#nav ul {
	margin:0;
	padding:0;
	list-style-type:none;
	list-style-position:outside;
	position:relative;
	line-height:1.5em
}

#nav ul {
	position:absolute;
	display:none;
	width:12em;
	top:1.5em
}

#nav ul ul {
	top:auto
}

#nav a {
	display:block;
	padding:0 5px;
	border:1px solid #333;
	color:#fff;
	text-decoration:none;
	background-color:#333;
	width:auto
}

#nav a:hover {
	background-color:#fff;
	color:#333
}

#nav li {
	float:left;
	position:relative;
	background-color:#fff
}

#nav li ul a {
	width:15em;
	height:auto;
	float:left
}

#nav li ul ul {
	left:12em;
	margin:0 0 0 10px;
	z-index:2
}

#nav li:hover ul ul,#nav li:hover ul ul ul,#nav li:hover ul ul ul ul {
	display:none
}

#nav li:hover ul,#nav li li:hover ul,#nav li li li:hover ul,#nav li li li li:hover ul {
	background-color:#fff;
	color:#333;
	display:block
}

#nav li .arrow {
	top:6px;
	padding-left:10px;
	position:relative;
	float:right;
	background-color:#000000
}